    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    body {
        background-color: #FDFFFC;
    }
    body::-webkit-scrollbar {
        width: 10px;
    }
    body::-webkit-scrollbar-track {
        background: none;
    }
    body::-webkit-scrollbar-thumb {
        background: #352208;
        border-radius: 10px;
    }

    a {
        text-decoration: none;
        color: #352208;
        font-weight: 600;
    }
    .header {
        padding: 10px;
        background: rgba(248, 248, 248, 0.01);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        -webkit-backdrop-filter: blur(14.5px);
        backdrop-filter: blur(14.5px);
        border: 1px solid rgba(248, 248, 248, 0.77);
    }
    .newly-listed {
        margin-top: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .newly-header {
        font-size: clamp(1rem, 2vw, 3rem);
        font-weight: 600;
        color: #352208;
        margin-bottom: 2rem;
    }
    .newly-listed {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .locations {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .plant-location {
        margin: 5px 0;
    }

    .location-btn {
        padding: 10px;
        border: none;
        background-color: #0A0908;
        color: #FDFFFC;
        border: #333 solid 1px;
        cursor: pointer;
        border-radius: 30px;
        font-size: clamp(1rem, 1vw, 1.5rem);
    }
    .newly-contents {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 15px;
        padding: 10px;
    }

    .plant-item {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        font-size: clamp(1rem, 1vw, 1.5rem);
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .plant-item:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .plant-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }
    .plant-item p {
        margin: 5px 0;
    }
    .plant-item-buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: clamp(1rem, 1vw, 1.5rem);
    }


    button.chat-seller {
        padding: 12px 12px;
        border: none;
        border-radius: 10px; /* Rounder buttons */
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        font-size: 0.9rem;
        transition: background-color 0.3s ease;
        font-size: 10px;
        margin-left: 20px;
    }
    button.chat-seller {
        background-color: black;
    }
    
    button.chat-seller:hover {
        background-color: #333;
    }
    
    #viewDetailsModal .modal-body {
        padding: 20px;
    }
    
    #viewDetailsModal .modal-body .row {
        margin: 0;
    }
    
    #viewDetailsModal .modal-body .col-md-4 {
        padding: 0;
    }
    
    #viewDetailsModal .modal-body .col-md-8 {
        padding: 20px;
    }
    
    #viewDetailsModal #plant-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
    
    #viewDetailsModal #plant-name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    #viewDetailsModal #plant-description {
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    #viewDetailsModal #plant-price {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    #viewDetailsModal #plant-location {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    #viewDetailsModal #seller-email {
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    /* applySeller.css */
    .container-seller{
       padding: 40px;
    }
    .form-container{
        padding: 40px;
    }
    #imagePreview{
        background-image: url('ProfilePictures/Default-Profile-Picture.png');
        background-size: cover;
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 400px;
        border: 4px dashed black;
        border-radius: 1%;
        margin-bottom: 20px;
    }
    .id-upload{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #imagePreview1{
        background-image: url('ProfilePictures/Default-Profile-Picture.png');
        background-size: cover;
        width: 100%;
        height: 100%;
        max-width: 300px;
        max-height: 400px;
        border-radius: 1%;
        border: 4px dashed black;
        margin-bottom: 20px;
    }
    .selfieId-upload{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input[type="file"] {
        display: none;
    }
    .upload-button {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        color: #fff;
        background-color: #386641;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
    .upload-button:hover {
        background-color: #0A0908;
    }

    .form-submit{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    #applyButton{
        display: inline-block;
        padding: 10px 20px;
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        color: #fff;
        background-color: #386641;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
    #applyButton:hover {
        background-color: #0A0908;
    }




    /* plantCategories.css */
    .container{
        width: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
    }
    .categories-container{
        width: 20%;
        height: 500px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .listed-plants{
        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .plant-type{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #ddd;
        padding: 10px;
        margin-bottom: 10px;
    }
    .checkbox-container{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

    }
    .plant-type-items{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 20px;
        border-bottom: #0A0908 solid 1px;
        margin-bottom: 10px;
    }
    
    .price{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #ddd;
        padding: 10px;
        margin-bottom: 10px;
    }


    .plant-size{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #ddd;
    }
    .plant-size-items{
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 20px;
        border-bottom: #0A0908 solid 1px;
        margin-bottom: 10px;
    }.navbar{
        display: flex;
        flex-direction: row;
        height: auto;
    
    }
    
    